<div class="nav">
  <div>
    <ul>
      <li ><a [routerLink]="['/home']">HOME</a></li>
      <li ><a [routerLink]="['/payroll']">PAYROLL</a></li>
      <li ><a [routerLink]="['/marketing']">MARKETING</a></li>
      <li ><a [routerLink]="['/tasks']">MY TASKS</a></li>
      <li ><a [routerLink]="['/requestus']">REQUEST US</a></li>
      <li ><a [routerLink]="['/timesheet']">REPORT TIME SHEET</a></li>
      <li ><a [routerLink]="['/statusreport']">WEEKLY STATUS REPORT</a></li>
      <li><a>PROFILE  <i class="fa fa-user-circle"></i></a></li>
    </ul>
      <!-- <ul class="nav navbar-nav navbar-right" style = "color: white; padding-top: 10px; margin-right: 10px;">
        <li>Welcome {{loggedUsedData.Candidate[0].demographic.name.firstName}}</li>
        <li style = "margin-left: 10px">Log out</li>
    </ul> -->
  </div>
</div>

